.login {
  row-gap: 10%;
  column-gap: 10%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 400;

  @include respond-below(sm) {
    text-align: center;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: underline;
    color: $primary;
    transition: .3s all ease;

    &:hover {
      color: darken($primary, 25%);
      text-decoration: none;
    }
  }

  &-header {
    margin-bottom: 150px;
    margin-top: 30px;

    @include respond-below(sm) {
      margin-top: 10px;
      margin-bottom: 20px;
      justify-items: center;
    }

    .signup {
      font-family: 'Baloo Tamma 2', cursive;
      font-weight: 700;
      line-height: 68px;
      float: right;
      color: $primary;
      text-decoration: none;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 10px;
      transition: .3s all ease;

      @include respond-below(sm) {
        margin: 0 auto;
      }

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &-form {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;

    button {
      margin: 20px 0;

      @include respond-below(sm) {
        display: block;
        margin: 40px auto;
      }
    }
  }

  &-container {
    display: block;

    @include respond-below(sm) {
       justify-items: center;
     }

    input {
      width: 100%;
      margin: 10px 0;

      @include respond-below(sm) {
        width: 90%;
      }
    }
  }

  &-image-container {
    padding: 10px;
    border-radius: 25px;
    background-color: $gray-light;

    img {
      position: relative;
      right: 90px;
      width: 100%;

      @include respond-below(sm) {
        position: static;
        margin-bottom: 30px;
      }
    }
  }
}

.checkbox {
  input {
    width: unset;
  }
}