.reset-password {
  &-header {
    img {
      display: block;
      margin: 30px auto;
    }
  }

  &-form {
    h2, label {
      font-family: 'Baloo Tamma 2', cursive;
      font-weight: 700;
    }

    input {
      width: 94.5%;
    }
  }

  &-btn {
    width: 100%;
  }
}