footer {
  background-color: $gray-light;
  margin-top: 50px;
  padding-top: 40px;
  font-family: 'Baloo Tamma 2', cursive;

  .btn-footer {
    margin-top: 50px;

    @include respond-below(sm) {
      display: block;
      margin: 50px auto;
      width: 80%;
    }
  }

  .logo-footer {
    width: 70%;

    @include respond-below(sm) {
      display: block;
      width: 35%;
      margin: 0 auto;
    }
  }

  .social {
    margin-top: 20px;

    @include respond-below(sm) {
      text-align: center;
    }

    a i {
      font-size: 30px;
      color: $primary;
      transition: .3s ease all;
      padding-right: 10px;

      &:hover {
        color: darken($primary, 50%);
      }
    }
  }

  h4 {
    font-weight: 700;

    @include respond-below(sm) {
      text-align: center;
    }
  }


  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 7px;

      @include respond-below(sm) {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: $primary;
        font-size: 13px;

        &:hover {
          color: darken($primary, 50%);
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}

.footer-secondary {
  border-top: 2px solid $primary;

  p {
    font-size: 12px;

    @include respond-below(sm) {
      font-size: 15px;
      text-align: center;
    }
  }
}