body {
  @include respond-below(sm) {
    margin-top: 100px;
  }
}
.logo {
  height: 100%;
}

.nav{
  width: 100%;
  display: flex;
  height: 50px;
  padding: 20px 0px;

  @include respond-below(sm) {
    display: none;
  }

  &-item {
    text-decoration: none;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
    transition: .3s ease all;
    color: $primary;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
    margin-top: 18px;
    align-items: center;
    padding: 3px;

    &:last-child {
      margin-left: auto;
      font-weight: 700;
      border-bottom: none;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;

      &:hover {
        background-color: $primary;
        color: $white;
        border-bottom: none;
      }
    }

    &:hover {
      color: darken($primary, 30%);
      border-bottom: 2px solid $primary;
    }

    &:active, &:focus {

    }
  }
}

//Mobile
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: $gray-80;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {

  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms
}

.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: $primary;
  font-size: 1.4em;
  text-decoration: none;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 700;
}

.header-container {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: $white;
  height: 50px;
  z-index: 2;
}

.open-main-nav {
  position: absolute;
  top: 35px;
  padding-top: 20px;
  right: 65px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-main-nav:focus {
  outline: none;
}
.burger {
  position: fixed;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: $primary;
  transform: skew(5deg);
  transition: all .275s;
}

.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: $primary;
  transition: all .275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
  display: block;
  font-size: .675rem;
  letter-spacing: .05em;
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #5A3B5D;
}

.container {
  display: none;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  overflow: hidden;

  @include respond-below(sm) {
    display: block;
  }
}
