html  {
  scroll-behavior: smooth;
}

.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.text-center {
  text-align: center;
  display: inline-block;
}

.block-center {
  margin: 0 auto;
}

.active {
  color: darken($primary, 30%) !important;
  border-bottom: 2px solid $primary !important;
  background-color: transparent !important;
}

.d {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-none {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

